{% extends 'Dashboard/skel_js/base.html' %}
{% block content %}
    {% for ticket in tickets %}
      <article class="media content-section">
          <div class="media-body">
              <div class="article-metadata">
                  <a class="mr-2" href="#">{{ ticket.author }}</a>
                  <small class="text-muted">{{ ticket.date_posted }}</small>
              </div>
              <h2><a class="article-title" href="#">{{ ticket.title }}</a></h2>
              <p> class="article-content">{{ ticket.content }}</p>
          </div>
      </article>
    {% endfor %}
{% endblock content %}